.DS_Store
.svn
tmp/**
*.log
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
*.sublime-workspace

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
node_modules/
.sass-cache
pdfs
.idea/
